*{
  box-sizing: border-box;
  font-family: sans-serif;
}

.header{
  font-style: oblique;
  text-align: center;
}

.item{
  margin: 1%;
}

#checkbox{
  margin-right: 1%
}

#edit{
  margin-left: 1%;
}
